<%- include("./partials/navbar") %>
<%- include("./partials/successFlash") %> 
<% var flag=1 %>
<% var btnNum=0 %>
<% var total =0;
   var amt   =0; %>
<div class="row cotainer wholeCart">
        <div class='col-7 cartLabel'>
                <% (activeUser.cartItems).forEach(function(product) { %>
                <div class="row eachPdt">
                        <div class="text-center col-5 ">
                                <img src="<%= product.p_img %>" class="rounded" alt="...">
                        </div>
                        <div class="col-7 details">
                                <div class="row">
                                        <div class="col-12">
                                                <h4 class="title"><%= product.p_title %> </h4>
                                                <h6 class="quantity"><%=product.p_quantity%></h6>
                                                <hr>
                                                <p  class="brand">from <%=product.p_brand%></p>
                                                <h5 class="price" id="unitPrice">₹ <%= product.p_price %> </h5>
                                                <p id="pp<%=btnNum%>"style="display: none;"><%= product._id %></p>
                                                <div class="row">
                                                        <div class="input-group-btn minus col-1">
                                                                <button onclick="down(this.id)"  id="down<%=btnNum %>" class="btn btn-default" ><span class="glyphicon glyphicon-minus"></span>-</button>
                                                        </div>
                                                        <div class="col-2 quans">
                                                                <input type="text" id="myNumber<%=btnNum %>" class="noof" value="<%= product.p_req_quan %>" readonly />
                                                                <% 
                                                                        total = total + parseInt( product.p_req_quan ) 
                                                                %>
                                                                <% 
                                                                        amt = amt + parseInt( product.p_req_quan ) * parseInt(product.p_price )  
                                                                %>
                                                        </div>
                                                        <div class="input-group-btn plus col-1">
                                                                <button onclick=" up(this.id )"  id="down<%=btnNum %>" class="btn btn-default" ><span class="glyphicon glyphicon-minus"></span>+</button>
                                                        </div>
                                                        <% btnNum = btnNum+1; %>
                                                </div>
                                        </div>
                                </div>

                                <div class="buttonsDown row">
                                        <div class="col-6">
                                                <form action="/removeFromCart/<%= product._id %>?_method=PUT" method="POST">
                                                        
                                                        <button type="submit" class="btn btn-danger">Remove</button>

                                                </form>
                                        </div>
                                        <!-- <div class="col-6">
                                                <form action="">
                                                        
                                                        <a href="placeOrder/<%= product._id %>"><button type="button" class="btn btn-success">Buy This</button></a>
                                                </form>
                                        </div> -->
                                </div>
                        </div>
                </div>
                <%}) %>
        </div>

                <div class="col-3 cartSummary">
                        <h1 class="unameCS"><%= currentUser.username %>'s Cart</h1>
                        <hr>
                        <h5 >No Of Items :
                                <span id="totalItemsInCart">
                                        <%= total %>
                                </span>
                        </h5>

                        <h5>Amount : 
                                <span id="amountSummary">
                                        <%= amt %>
                                </span>
                        </h5>
                        <% if(amt > 1000){ %>
                                <h5>Delivery Charge : 
                                        <span class="dCharge">Free</span>
                                </h5>
                        <% }else{ %>
                                <h5>Delivery Charge : 
                                        <span class="dCharge">40</span>
                                </h5>
                                <% amt = amt+40 %>
                        <% } %>
                        
                        <hr>
                        <h3 >Total : 
                                <span id="final"> <%= amt %> </span> 
                        </h3>

                </div>
        
</div>

<div>
        <a href="placeOrder"><button type="button" class="btn btn-success">Place Order</button>   </a>
</div>
</h1>
<%- include("./partials/footer") %>