<!-- Display all the Products from selected Category -->
<%- include("./partials/navbar") %>
<%- include("./partials/successFlash") %> 
    <div class="row container mkcenter">
        <% pdt.forEach(function(product) { %> 
        <div class="col-3 card_pdts">
            <div class="card " style="width: 18rem;">
                <a href="/detail/<%= product._id %>/view"><img class="card-img-top" src="<%=product.img%>" alt=""></a>
                <div class="card-body card_pdts">
                  <h5 class="card-title"><%= product.title %> Rs.<%= product.price %></h5>
                  <% if(!currentUser){ %>    
                      <form action="/cart/<%= product.category %>/<%= product._id %>" method="GET">
                        <input type="submit" value="Add To Cart" class="btn btn-outline-primary">
                      </form>
                      
                  <% }else{ %>
                    <% if(currentUser.username==='ADMIN'){ %>
                      <a href="/pdtEdit/<%= product._id %>/view" class="btn btn-outline-primary btn-sm">Edit</a>
                      <a href="/delete/<%= product._id %>" class="btn btn-outline-danger btn-sm">Delete</a>
                    <% } else { %>
                      <form action="/cart/<%= product.category %>/<%= product._id %>" method="GET">
                        <input type="submit" value="Add To Cart" class="btn btn-outline-primary">
                      </form>
                    <% } %>
                  <%}%>
                </div>
              </div>
        </div>
        <% })%> 
    </div>


    <%- include("./partials/footer") %>
</body>
</html>